In [1]:
import pandas as pd

In [2]:
!ls

LICENSE                content                waymo_da.zip
NOTICES                content 2              waymo_images
Pipfile                instructions.md        waymo_images_1.zip
README.md              mrcnn.csv              yolov3.cfg
Untitled.ipynb         mrcnn_da.csv           yolov3.weights
app.py                 waymo.csv
av_final_optimized.gif waymo_da

In [4]:
!ls waymo_images

0.jpg   116.jpg 134.jpg 152.jpg 170.jpg 189.jpg 29.jpg  47.jpg  65.jpg  83.jpg
1.jpg   117.jpg 135.jpg 153.jpg 171.jpg 19.jpg  3.jpg   48.jpg  66.jpg  84.jpg
10.jpg  118.jpg 136.jpg 154.jpg 172.jpg 190.jpg 30.jpg  49.jpg  67.jpg  85.jpg
100.jpg 119.jpg 137.jpg 155.jpg 173.jpg 191.jpg 31.jpg  5.jpg   68.jpg  86.jpg
101.jpg 12.jpg  138.jpg 156.jpg 174.jpg 192.jpg 32.jpg  50.jpg  69.jpg  87.jpg
102.jpg 120.jpg 139.jpg 157.jpg 175.jpg 193.jpg 33.jpg  51.jpg  7.jpg   88.jpg
103.jpg 121.jpg 14.jpg  158.jpg 176.jpg 194.jpg 34.jpg  52.jpg  70.jpg  89.jpg
104.jpg 122.jpg 140.jpg 159.jpg 177.jpg 195.jpg 35.jpg  53.jpg  71.jpg  9.jpg
105.jpg 123.jpg 141.jpg 16.jpg  178.jpg 196.jpg 36.jpg  54.jpg  72.jpg  90.jpg
106.jpg 124.jpg 142.jpg 160.jpg 179.jpg 197.jpg 37.jpg  55.jpg  73.jpg  91.jpg
107.jpg 125.jpg 143.jpg 161.jpg 18.jpg  2.jpg   38.jpg  56.jpg  74.jpg  92.jpg
108.jpg 126.jpg 144.jpg 162.jpg 180.jpg 20.jpg  39.jpg  57.jpg  75.jpg  93.jpg
109.jpg 127.jpg 145.jpg 163.jpg 181.jpg 21.jpg  4.jpg   58.jpg  76.jpg  94.jpg
11.jpg  128.jpg 146.jpg 164.jpg 182.jpg 22.jpg  40.jpg  59.jpg  77.jpg  95.jpg
110.jpg 129.jpg 147.jpg 165.jpg 183.jpg 23.jpg  41.jpg  6.jpg   78.jpg  96.jpg
111.jpg 13.jpg  148.jpg 166.jpg 184.jpg 24.jpg  42.jpg  60.jpg  79.jpg  97.jpg
112.jpg 130.jpg 149.jpg 167.jpg 185.jpg 25.jpg  43.jpg  61.jpg  8.jpg   98.jpg
113.jpg 131.jpg 15.jpg  168.jpg 186.jpg 26.jpg  44.jpg  62.jpg  80.jpg  99.jpg
114.jpg 132.jpg 150.jpg 169.jpg 187.jpg 27.jpg  45.jpg  63.jpg  81.jpg
115.jpg 133.jpg 151.jpg 17.jpg  188.jpg 28.jpg  46.jpg  64.jpg  82.jpg

In [7]:
pd.read_csv("mrcnn.csv").drop(columns=['label_frame']).to_csv("mrcnn_output.csv", index=False, header=False)

In [13]:
df = pd.read_csv("mrcnn.csv")

df['label_frame'] = df['label_frame'].apply(lambda x: 'waymo_images/'+ str(x)+'.jpg')

df.to_csv("mrcnn_output.csv", index=False, header=False)

In [14]:
pd.read_csv('mrcnn_output.csv', header=None)

                         0     1    2     3    4           5
0       waymo_images/0.jpg   293  650   430  726     vehicle
1       waymo_images/0.jpg   605  626   640  725  pedestrian
2       waymo_images/0.jpg  1304  672  1560  857     vehicle
3       waymo_images/0.jpg  1556  605  1629  718  pedestrian
4       waymo_images/0.jpg  1061  533  1266  722     vehicle
...                    ...   ...  ...   ...  ...         ...
2688  waymo_images/197.jpg  1604  628  1639  683  pedestrian
2689  waymo_images/197.jpg  1886  245  1919  342        sign
2690  waymo_images/197.jpg  1632   92  1680  208        sign
2691  waymo_images/197.jpg   441  764   492  880          27
2692  waymo_images/197.jpg   870  599   921  622     vehicle

[2693 rows x 6 columns]

In [16]:
df.label_name.unique()

array(['vehicle', 'pedestrian', 'sign', 'unknown', '75', '59', '63', '18',
       '2', '35', '74', '37', '11', '25', '8', '14', '27'], dtype=object)